<?xml version='1.0'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="freddy">

  <xacro:arg name="use_gpu_2d_laser" default="false" />

  <!-- Robot tf_prefix -->
  <xacro:arg name="tf_prefix" default="" />

  <xacro:include filename="$(find freddy_base_description)/urdf/common.xacro" />
  <xacro:include filename="$(find freddy_base_description)/urdf/freddy_base_gz.urdf.xacro" />
  <xacro:include filename="$(find freddy_torso_description)/urdf/freddy_torso_gz.urdf.xacro" />

  <link name="base_link"/>

  <xacro:freddy_base name="freddy_base" parent="base_link"
    use_gpu_2d_laser="$(arg use_gpu_2d_laser)">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:freddy_base>

  <xacro:freddy_torso name="freddy_torso" parent="base_link">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </xacro:freddy_torso>

  <gazebo>
    <!-- VELOCITY CONTROL PLUGIN -->
    <plugin
      filename="gz-sim-velocity-control-system"
      name="gz::sim::systems::VelocityControl">
      <initial_linear>0.0 0 0</initial_linear>
      <initial_angular>0 0 0.0</initial_angular>
      <!-- <link_name>base_link</link_name> -->
      <!-- <topic>cmd_vel</topic> -->
    </plugin>
    <!-- Joint state publisher -->
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find freddy_description)/config/ros2_controllers_double_wheel.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
