<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="eddie_base_with_wheels">

    <xacro:arg name="robot_name" default="eddie_" />

    <xacro:arg name="robot_ip_left" default="192.168.1.10" />
    <xacro:arg name="robot_ip_right" default="192.168.1.11" />
    <xacro:arg name="username" default="admin" />
    <xacro:arg name="password" default="admin" />
    <xacro:arg name="port" default="10000" />
    <xacro:arg name="port_realtime" default="10001" />
    <xacro:arg name="session_inactivity_timeout_ms" default="60000" />
    <xacro:arg name="connection_inactivity_timeout_ms" default="2000" />

    <!-- <xacro:arg name="gripper" default="robotiq_2f_85" /> -->
    <xacro:arg name="gripper" default="" />
    <xacro:arg name="gripper_joint_name" default="grasp_joint" />

    <xacro:arg name="use_fake_hardware" default="false" />
    <xacro:arg name="fake_sensor_commands" default="false" />

    <xacro:arg name="sim_gz" default="true" />
    <xacro:arg name="sim_isaac" default="false" />

    <xacro:arg name="use_internal_bus_gripper_comm" default="false" />

    <!-- initial position for simulations (Mock Hardware, Gazebo, Ignition) -->
    <xacro:arg name="initial_positions_file_left"
        default="$(find eddie_description)/config/initial_positions_arm_left.yaml" />
    <xacro:arg name="initial_positions_file_right"
        default="$(find eddie_description)/config/initial_positions_arm_right.yaml" />

    <!-- convert to property to use substitution in function -->
    <xacro:property name="initial_positions_file_left" default="$(arg initial_positions_file_left)" />
    <xacro:property name="initial_positions_file_right"
        default="$(arg initial_positions_file_right)" />

    <!-- Include the Eddie Base -->
    <xacro:include filename="$(find eddie_description)/urdf/eddie_base.macro.xacro"/>

    <!-- Include Gen3 Arm -->
    <xacro:include filename="$(find eddie_description)/urdf/kinova_gen3.macro.xacro"/>

    <xacro:eddie_base prefix="$(arg robot_name)" />

    <xacro:kinova_gen3
        parent="$(arg robot_name)left_arm_attachment_link"
        prefix="$(arg robot_name)left_arm_"
        gripper="robotiq_2f_85"
        robot_ip="$(arg robot_ip_left)"
        username="$(arg username)"
        password="$(arg password)"
        port="$(arg port)"
        port_realtime="$(arg port_realtime)"
        session_inactivity_timeout_ms="$(arg session_inactivity_timeout_ms)"
        connection_inactivity_timeout_ms="$(arg connection_inactivity_timeout_ms)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        initial_positions="${xacro.load_yaml(initial_positions_file_left)}">
        <origin xyz="0.01549 0 0" rpy="1.5708 -1.5708 1.5708" />
    </xacro:kinova_gen3>

    <xacro:kinova_gen3
        parent="$(arg robot_name)right_arm_attachment_link"
        prefix="$(arg robot_name)right_arm_"
        gripper="robotiq_2f_85"
        robot_ip="$(arg robot_ip_right)"
        username="$(arg username)"
        password="$(arg password)"
        port="$(arg port)"
        port_realtime="$(arg port_realtime)"
        session_inactivity_timeout_ms="$(arg session_inactivity_timeout_ms)"
        connection_inactivity_timeout_ms="$(arg connection_inactivity_timeout_ms)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        initial_positions="${xacro.load_yaml(initial_positions_file_right)}">
        <origin xyz="0.01549 0 0" rpy="1.5708 -1.5708 1.5708" />
    </xacro:kinova_gen3>

</robot>
