<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="table">

  <xacro:macro name="table" params="prefix">
    <link name="${prefix}base_footprint">
      <visual>
        <!-- Tabletop -->
        <origin xyz="-0.305 0 0.682" rpy="0 0 0" />
        <geometry>
          <box size="0.8 0.8 0.05" />
        </geometry>
        <material name="Grey">
          <color rgba="0.6 0.6 0.6 1.0" />
        </material>
      </visual>

      <visual>
        <!-- Leg 1 -->
        <origin xyz="0.045 0.35 0.3285" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.657" />
        </geometry>
        <material name="Grey">
          <color rgba="0.6 0.6 0.6 1.0" />
        </material>
      </visual>

      <visual>
        <!-- Leg 2 -->
        <origin xyz="0.045 -0.35 0.3285" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.657" />
        </geometry>
        <material name="Grey">
          <color rgba="0.6 0.6 0.6 1.0" />
        </material>
      </visual>

      <visual>
        <!-- Leg 3 -->
        <origin xyz="-0.655 0.35 0.3285" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.657" />
        </geometry>
        <material name="Grey">
          <color rgba="0.6 0.6 0.6 1.0" />
        </material>
      </visual>

      <visual>
        <!-- Leg 4 -->
        <origin xyz="-0.655 -0.35 0.3285" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.657" />
        </geometry>
        <material name="Grey">
          <color rgba="0.6 0.6 0.6 1.0" />
        </material>
      </visual>

      <collision>
        <!-- Tabletop -->
        <origin xyz="-0.305 0 0.682" rpy="0 0 0" />
        <geometry>
          <box size="0.8 0.8 0.05" />
        </geometry>
      </collision>

      <collision>
        <!-- Leg 1 -->
        <origin xyz="0.045 0.35 0.3285" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.657" />
        </geometry>
      </collision>

      <collision>
        <!-- Leg 2 -->
        <origin xyz="0.045 -0.35 0.3285" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.657" />
        </geometry>
      </collision>

      <collision>
        <!-- Leg 3 -->
        <origin xyz="-0.655 0.35 0.3285" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.657" />
        </geometry>
      </collision>

      <collision>
        <!-- Leg 4 -->
        <origin xyz="-0.655 -0.35 0.3285" rpy="0 0 0" />
        <geometry>
          <box size="0.05 0.05 0.657" />
        </geometry>
      </collision>

      <inertial>
        <mass value="50.0" />
        <inertia ixx="10" ixy="0" ixz="0" iyy="10" iyz="0" izz="10" />
      </inertial>
    </link>

  </xacro:macro>

</robot>